.content {
  width: 100%;
  margin: 12px 40px;
}
.notesList {
  margin: 12px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1em;
}
.note {
  border: 1px solid black;
  padding: 8px;
  position: relative;
}
.note__remove {
  top: -8px;
  right: -8px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  text-align: center;
  outline: none;

  position: absolute;
}
