$color_red: #f37b7b;

.note {
  position: relative;
  padding: 8px;

  border: 1px solid #d3c86b;
  border-radius: 4px;

  background-color: #f3e98d;

  &__text {
  }
  &:hover > .note__remove {
    display: block;
    width: 24px;
    height: 24px;

    position: absolute;
    top: -8px;
    right: -8px;

    outline: none;
    border: 1px solid darken($color_red, 10%);
    border-radius: 50%;
    background-color: $color_red;

    text-align: center;
  }
}

.note__remove {
  display: none;
}
